.cardContainer{
    display: inline-block;
    width: 22rem;
    margin-bottom: 3rem;
    box-shadow: 5px 12px 10px #999;
    padding-bottom: 2rem;
    border-radius: 20px;
    cursor: pointer;
    transform: scale(0.88);
    transition: all ease 0.4s;
}
  
.cardContainer:hover{
    transform: scale(0.95);
}

.cardContainer--img{
    width: 100%;
    position: relative;
}

.cardContainer--img p{
    position: absolute;
    background-color: #fb3f6c;
    display: inline-block;
    padding: .5rem;
    color: #fff;
    font-weight: 600;
    top: 10.5rem;
    left: 0rem;
    z-index: 1;
}



.cardContainer--img img{
    width: 100%;
}

.cardContainer--body{
    margin-top: 1.5rem;
    padding-left: 1.5rem;
}



.cardContainer--body .cardContainer--body--columns{
    margin-top: 1.7rem;
    display: grid;
    grid-template-columns: repeat(2,50%);
    margin-bottom: .7rem;
}

.cardContainer--body h3{
    width: 70%;
    justify-content: flex-end;
    font-size: 1.3rem;
    margin-bottom: .7rem;
}

.cardContainer--body p{
    width: 70%;
}

.cardContainer--body span{
    font-weight: 600;
}

@media screen and (max-width: 375px){
    .cardContainer{
        display: block;
        width: 100%;
    }
}