.coursesContainer--header{
    text-align: center;
    padding: 5rem;
    margin-top: -2rem;
    margin-bottom: .5rem;
}

.coursesContainer--header h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}


.coursesContainer--header--input{
    margin-top: 2rem;
    padding: .7rem 1.2rem;
    border-radius: 10px;
}

.coursesContainer--header--icon{
    position: relative;
    right: 13rem;
    top: 0.2rem;
}


.coursesContainer--header--searchBar input{
    background-color: rgb(233, 233, 233);
    outline: none;
    border: none;
    height: 3.5rem;
    padding: 0 3.5rem;
    width: 20rem;
    margin-left: -2.7rem;
    transform: scale(0.88);
    transition: all ease 0.4s; 
}

.coursesContainer--header--searchBar input:hover{
    transform: scale(0.91);
    box-shadow: 2px 6px 5px #999;
}

.coursesContainer--header--searchBar .coursesContainer--header--icon{
    font-size: 1.5rem;
    justify-content: left;
    margin-left: -5rem;

}


.coursesContainer--courseList{
    width: 100vw;
    display: grid;
    justify-items: center;
    align-content: space-around;
    grid-template-columns: repeat(3,1fr);
    padding: 0 2%;
}

@media screen and (max-width: 1250px) and (min-width: 850px){
    .coursesContainer--courseList{
        width: 100vw;
        display: grid;
        justify-items: center;
        align-content: space-around;
        grid-template-columns: repeat(2,1fr);
        padding: 0 2%;
    }

}

@media screen and (max-width: 849px){
    .coursesContainer--courseList{
        width: 100vw;
        display: grid;
        justify-items: center;
        align-content: space-around;
        grid-template-columns: repeat(1,1fr);
        padding: 0 2%;
    }
}